@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

.white-normal {
    -fx-fill: #F3F2F3;
}
.darkblue-normal {
    -fx-fill: #062F42;
}
.red-normal {
    -fx-fill: #ED254E;
}

.main-carousel {
    -fx-background-color: #F3F2F3;
    -fx-background-radius: 40px;
}

.triangles {
    -fx-fill: #062F42;
    -fx-border-radius: 4px;
}

.scroll-pane-carousel {
    -fx-background-color: #F3F2F3;
    -fx-border-radius: 40px;
}

.search-button {
    -fx-background-radius: 15px;
    -fx-background-color: #ED254E;
    -fx-font-size: 16px;
    -fx-text-fill: #F3F2F3;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.search-button:hover {
    -fx-background-color: #F34E70;
}

.search-bar {
    -fx-background-radius: 15px;
    -fx-font-size: 16px;
    -fx-font-family: 'Sen', sans-serif;
}

.profile-shopping-button {
    -fx-background-color: #ED254E;
    -fx-background-radius: 32px;
}

.profile-shopping-button:hover {
    -fx-background-color: #F34E70;
}

.shopping-cart-label {
    -fx-font-size: 22px;
    -fx-text-fill: #F3F2F3;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.shopping-cart-name {
    -fx-font-size: 35px;
    -fx-text-fill: #F3F2F3;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.shopping-cart-name-2 {
    -fx-font-size: 28px;
    -fx-text-fill: #F3F2F3;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.shopping-cart-total {
    -fx-font-size: 35px;
    -fx-text-fill: #F3F2F3;
    -fx-font-weight: bold;
    -fx-alignment: top-right;
    -fx-font-family: 'Sen', sans-serif;
}
.shopping-cart-pay {
    -fx-font-size: 28px;
    -fx-text-fill: #F3F2F3;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.shopping-item {
    -fx-background-color: #F3F2F3;
    -fx-background-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

.shopping-item-name {
    -fx-font-size: 16px;
    -fx-text-fill: #062F42;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-font-family: 'Sen', sans-serif;
}

.shopping-item-unit {
    -fx-font-size: 14px;
    -fx-text-fill: #062F42;
    -fx-font-weight: normal;
    -fx-text-alignment: left;
    -fx-font-family: 'Sen', sans-serif;
}

.shopping-item-total {
    -fx-font-size: 16px;
    -fx-text-fill: #062F42;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.shopping-item-amount {
    -fx-font-size: 16px;
    -fx-text-fill: #ED254E;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.list-item-buttons {
    -fx-background-color: #ED254E;
    -fx-background-radius: 16px;
}

.list-item-buttons:hover {
    -fx-background-color: #F34E70;
}

.small-rectangle {
    -fx-fill: #F3F2F3;
    -fx-background-radius: 2px;
}
