.scroll-pane {
    -fx-background-color: #E3E3E3;
}

.scroll-pane .thumb {
    -fx-background-color: #525252;
    -fx-background-radius: 4px;
}

.scroll-pane .decrement-arrow {
    -fx-background-color: #F3F2F3;
}

.scroll-pane .increment-arrow {
    -fx-background-color: #F3F2F3;
}